# В этом файле, в основном, представлены опции, конфигурируемые в таких секциях, как Global System и Global Security:
jenkins:
  systemMessage: "Welcome to the Fully Automation Jenkins by Ivan Medaev:"
  labelString: "master"
  mode: EXCLUSIVE
  numExecutors: 0
  quietPeriod: 5
  scmCheckoutRetryCount: 3
  disableRememberMe: false
  markupFormatter:
    rawHtml:
      disableSyntaxHighlighting: true

  # Отключает или включает Master Access Control (deprecated):
  remotingSecurity:
    enabled: true

  # Эта опция позволяет задать глобальные переменные в Jenkins (при желании можно раскомментировать):
  # globalNodeProperties:
  #   - envVars:
  #       env:
  #       - key: "your-name1"
  #         value: "your-value1"
  #       - key: "your-name2"
  #         value: "your-value2"

  # Этот ряд опций позволяет создавать и управлять вьюшками в Jenkins:
  myViewsTabBar: "standard"
  projectNamingStrategy: "standard"
  primaryView:
    all:
      name: "all"
  views:
  - all:
      name: "all"
  - list:
      name: "Frontend"
      columns:
      - "itemColumn"
      - "status"
      - "weather"
      - "lastSuccess"
      - "lastFailure"
      - "lastDuration"
      - "buildButton"
      - "gitBranchSpecifierColumn"
      - "descriptionColumn"
  - list:
      name: "Backend"
      includeRegex: ".+"
      columns:
      - "itemColumn"
      - "status"
      - "weather"
      - "lastSuccess"
      - "lastFailure"
      - "lastDuration"
      - "buildButton"
      - "gitBranchSpecifierColumn"
      - "descriptionColumn"
  - list:
      name: "DevOps"
      recurse: true
      columns:
      - "itemColumn"
      - "status"
      - "weather"
      - "lastSuccess"
      - "lastFailure"
      - "lastDuration"
      - "buildButton"
      - "gitBranchSpecifierColumn"
      - "descriptionColumn"
      jobNames:
      # - "name-of-your-pipeline1"
      # - "name-of-your-pipeline2"

  # Этот ряд опций позволяет конфигурировать агнетов, для их последующего использования:
  nodes:
    - permanent:
        name: {{ jcasc_jenkins_agent_1_name }}
        nodeDescription: "This is my first Jenkins Agent"
        numExecutors: 2
        remoteFS: "/var/lib/jenkins"
        labelString: {{ jcasc_jenkins_agent_1_label }}
        retentionStrategy: "always"
        launcher:
          ssh:
            credentialsId: {{ jcasc_credential_ssh_id_one }}
            host: {{ jcasc_jenkins_agent_1_ip }}
            port: 22
            maxNumRetries: 3
            retryWaitTime: 30
            sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"

    - permanent:
        name: {{ jcasc_jenkins_agent_2_name }}
        nodeDescription: "This is my second Jenkins Agent"
        numExecutors: 2
        remoteFS: "/var/lib/jenkins"
        labelString: {{ jcasc_jenkins_agent_2_label }}
        retentionStrategy: "always"
        launcher:
          ssh:
            credentialsId: {{ jcasc_credential_ssh_id_one }}
            host: {{ jcasc_jenkins_agent_2_ip }}
            port: 22
            maxNumRetries: 3
            retryWaitTime: 30
            sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"

  # Этот ряд опций позволяет настроить один из вариантов аутентификации на выбор в Jenkins.
  # В нашем случае используется локальная. Тут же и создаётся первичный пользователь:
  securityRealm:
    local:
      allowsSignup: false
      enableCaptcha: false
      users:     
        - id: {{ jcasc_jenkins_admin_user }}
          password: {{ jcasc_jenkins_admin_password }}
          description: "This is a fully privileged account in Jenkins"
          properties:
          - mailer:
              emailAddress: {{ jcasc_jenkins_admin_email }}
          - preferredProvider:
              providerId: "default"
          - timezone:
              timeZoneName: "Europe/Kaliningrad"

  # Этот ряд опций позволяет более предметно настроить авторизацию в Jenkins:
  authorizationStrategy:
    globalMatrix:
      permissions:
      - "GROUP:Agent/Build:authenticated"
      - "GROUP:Agent/Configure:authenticated"
      - "GROUP:Agent/Connect:authenticated"
      - "GROUP:Agent/Create:authenticated"
      - "GROUP:Agent/Delete:authenticated"
      - "GROUP:Agent/Disconnect:authenticated"
      - "GROUP:Credentials/Create:authenticated"
      - "GROUP:Credentials/Delete:authenticated"
      - "GROUP:Credentials/ManageDomains:authenticated"
      - "GROUP:Credentials/Update:authenticated"
      - "GROUP:Credentials/View:authenticated"
      - "GROUP:Job/Build:authenticated"
      - "GROUP:Job/Cancel:authenticated"
      - "GROUP:Job/Configure:authenticated"
      - "GROUP:Job/Create:authenticated"
      - "GROUP:Job/Delete:authenticated"
      - "GROUP:Job/Discover:authenticated"
      - "GROUP:Job/Move:authenticated"
      - "GROUP:Job/Read:authenticated"
      - "GROUP:Job/Workspace:authenticated"
      - "GROUP:Overall/Read:authenticated"
      - "GROUP:Run/Delete:authenticated"
      - "GROUP:Run/Replay:authenticated"
      - "GROUP:Run/Update:authenticated"
      - "GROUP:View/Configure:authenticated"
      - "GROUP:View/Create:authenticated"
      - "GROUP:View/Delete:authenticated"
      - "GROUP:View/Read:authenticated"
      - "USER:Overall/Administer:{{ jcasc_jenkins_admin_user }}"

  log:
    recorders:
    - name: "JCasC"
      loggers:
      - level: "WARNING"
        name: "io.jenkins.plugins.casc"
