version: '3.7'
services:
  jenkins:
    container_name: {{ docker_jenkins_agent_name }}
    image: {{ docker_jenkins_agent_image }}
    ports:
      - "{{ docker_jenkins_agent_ssh_port }}:22"
    restart: always
    environment:
      JENKINS_AGENT_SSH_PUBKEY: {{ docker_jenkins_agent_public_key }}
