---
dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: debian10
    image: mdd13/ansible-docker-debian:debian10
    pre_build_image: true
    privileged: true
    override_command: false
    cgroup_parent: docker.slice
    cgroupns_mode: host
    security_opts:
      - seccomp=unconfined

  - name: debian11
    image: mdd13/ansible-docker-debian:debian11
    pre_build_image: true
    privileged: true
    override_command: false
    cgroup_parent: docker.slice
    cgroupns_mode: host
    security_opts:
      - seccomp=unconfined

  - name: debian12
    image: mdd13/ansible-docker-debian:debian12
    pre_build_image: true
    tmpfs:
      - /run
      - /tmp
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    privileged: true
    capabilities:
      - SYS_ADMIN
    cgroup_parent: docker.slice
    cgroupns_mode: host
    override_command: false
    # published_ports:
    #   - 8080:8080

provisioner:
  name: ansible
  env:
    ANSIBLE_STDOUT_CALLBACK: yaml
  inventory:
    links:
      group_vars: ../../../../group_vars/

verifier:
  name: ansible
