{% if nginx_protocol_working == "http" %}

upstream jenkins-master {
    server 127.0.0.1:8080;
}

server {
    access_log      /var/log/nginx/jenkins.access.log;
    error_log       /var/log/nginx/jenkins.error.log;

    listen 80;
    listen [::]:80 ipv6only=on;
    server_name {{ jenkins_nginx_domain }}; 

    location / {
        sendfile off;
        proxy_pass         http://jenkins-master;
        proxy_set_header   X-Forwarded-Host  $host;
        proxy_set_header   X-Forwarded-Port  $server_port;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
        proxy_max_temp_file_size 0;
    }
}

{% elif nginx_protocol_working == "https" %}

upstream jenkins-master {
    server 127.0.0.1:8080;
}

server {
    access_log      /var/log/nginx/jenkins.access.log;
    error_log       /var/log/nginx/jenkins.error.log;

    listen 443 ssl;
    listen [::]:443 ssl ipv6only=on;
    server_name {{ jenkins_nginx_domain }}; 

    location / {
        sendfile off;
        proxy_pass         http://jenkins-master;
        proxy_set_header   X-Forwarded-Host  $host;
        proxy_set_header   X-Forwarded-Port  $server_port;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
        proxy_max_temp_file_size 0;
    }

    if ($host = www.{{ jenkins_nginx_domain }}) {
        return 301 https://{{ jenkins_nginx_domain }}$request_uri;
    }

    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/{{ jenkins_nginx_domain }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ jenkins_nginx_domain }}/privkey.pem; # managed by Certbot
}

server {
    listen       80;
    listen       [::]:80;
    server_name {{ jenkins_nginx_domain }} www.{{ jenkins_nginx_domain }};
    return 301 https://{{ jenkins_nginx_domain }}$request_uri;
}

{% else %}
    NONE
{% endif %}
