# В этом файле, в основном, представлены опции, конфигурируемые в таких секциях, как Credentials:
credentials:
  system:
    domainCredentials:
      - credentials:
          # Создание учетной записи для использования приватного SSH ключа:
          - basicSSHUserPrivateKey:
              scope: SYSTEM
              id: {{ jcasc_credential_ssh_id }}
              username: {{ jcasc_credential_ssh_username }}
              description: "This your private SSH key for deploy"
              privateKeySource:
                directEntry:
                  privateKey: {{ jcasc_credential_ssh_private_key }}
                  # passphrase: {{ jcasc_credential_ssh_passphrase }}

          # Создание учетной записи для использования токена Gitlab:
          - gitLabApiTokenImpl:
              scope: SYSTEM
              id: {{ jcasc_credential_gitlab_id }}
              apiToken: {{ jcasc_credential_gitlab_token }}
              description: "My Gitlab Token"

          # Создание учетной записи для использования токена Github:
          - string:
              scope: GLOBAL
              id: {{ jcasc_credential_github_id }}
              secret: {{ jcasc_credential_github_token }}
              description: "My Github Token"
