# В этом файле, в основном, представлены опции, конфигурируемые в таких секциях, как Credentials:

credentials:
  system:
    domainCredentials:
      - credentials:
          # Создание учетной записи для использования приватного SSH ключа:
          - basicSSHUserPrivateKey:
              scope: GLOBAL
              id: {{ jcasc_credential_ssh_id_one }}
              username: {{ jcasc_credential_ssh_username_one }}
              description: "This your private SSH key for deploy"
              privateKeySource:
                directEntry:
                  privateKey: {{ jcasc_credential_ssh_private_key_one }}
                  # passphrase: {{ jcasc_credential_ssh_passphrase_one }}

          # Создание учетной записи для использования токена Gitlab:
          - gitLabApiTokenImpl:
              scope: GLOBAL
              id: {{ jcasc_credential_gitlab_id_one }}
              apiToken: {{ jcasc_credential_gitlab_token_one }}
              description: "My Gitlab Token"

          # Создание учетной записи для использования токена Github:
          - string:
              scope: GLOBAL
              id: {{ jcasc_credential_github_id_one }}
              secret: {{ jcasc_credential_github_token_one }}
              description: "My Github Token"

          # Создание учетной записи для использования токена Slack:
          - string:
              scope: GLOBAL
              id: {{ jcasc_credential_slack_id_one }}
              secret: {{ jcasc_credential_slack_token_one }}
              description: "My Slack Token"
