# В этом файле, в основном, представлены опции, конфигурируемые в таких секциях, как Global Tool Configuration:

tool:
  mavenGlobalConfig:
    globalSettingsProvider: "standard"
    settingsProvider: "standard"

  # Этот ряд опций отвечает за установку и настройку Maven в Jenkins:
  maven:
    installations:
    - name: "maven-{{ jcasc_tool_maven_version }}"
      properties:
      - installSource:
          installers:
          - maven:
              id: {{ jcasc_tool_maven_version }}

  # Этот ряд опций отвечает за установку и настройку JDK в Jenkins:
  jdk:
    installations:
      - name: {{ jcasc_tool_jdk_version }}
        properties:
          - installSource:
              installers:
                - adoptOpenJdkInstaller:
                    id: {{ jcasc_tool_jdk_version }}

  # Этот ряд опций отвечает за установку и настройку NodeJS в Jenkins:
  nodejs:
    installations:
      - name: "nodejs-{{ jcasc_tool_nodejs_version }}"
        properties:
          - installSource:
              installers:
                - nodeJSInstaller:
                    id: {{ jcasc_tool_nodejs_version }}
                    npmPackagesRefreshHours: 48

  # Этот ряд опций отвечает за установку и настройку Go в Jenkins:
  go:
    installations:
      - name: "go-{{ jcasc_tool_go_version }}"
        properties:
          - installSource:
              installers:
                - golangInstaller:
                    id: {{ jcasc_tool_go_version }}
